option.depth-1 {
    padding-left: 10px;
}

option.depth-2 {
    padding-left: 20px;
}

option.depth-3 {
    padding-left: 30px;
}

option.depth-4 {
    padding-left: 40px;
}

option.depth-5 {
    padding-left: 50px;
}