<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @category   Diglin
 * @package    Diglin_LanguageCsv
 * @author     Osdave <david . parloir AT gmail.com>
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <sections>
        <dev>
            <groups>
                <languagecsv translate="label" module="languagecsv">
                    <label>Languages CSVs</label>
                    <sort_order>200</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <tree_depth translate="label" module="languagecsv">
                            <label>Tree depth</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>How deep inside the template/ folder should the dropdown go?</comment>
                        </tree_depth>
                    </fields>
                </languagecsv>
            </groups>
        </dev>
    </sections>
</config>